<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="gcpLoggingAppender" class="com.google.cloud.logging.logback.LoggingAppender">
        <redirectToStdout>true</redirectToStdout>
    </appender>
    <appender name="jsonLoggingAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="org.bk.logback.custom.GcpJsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd HH:mm:ss.SSS</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
        </layout>
    </appender>
    <appender name="logStashAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp/>
                <version/>
                <logger/>
                <thread/>
                <level/>
                <levelValue/>
            </fieldNames>
        </encoder>
    </appender>
    <root level="INFO">
        <springProfile name="gcp">
            <appender-ref ref="jsonLoggingAppender"/>
        </springProfile>
        <springProfile name="local">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </root>
</configuration>